$primary: #212529;
$secondary: #343a40;
$veryDarkGrey: #495057;
$mediumGrey: #adb5bd;
$lightGrey: #dee2e6;
$veryLightGrey: #e9ecef;
$shadow_1: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
  rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
